
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY */
body {
    line-height: 1.6;
    background-color: #76461b;
}
/*HEADER*/
/* navigasi */

/* konten home */
section {
    padding: 60px;
}
/* bagian h1 */
/* text box */
#home {
    display: flex;
    justify-content: space-between; /* home-text di kiri, open di kanan */
    align-items: flex-start;
    gap: 10px;                      /* jarak horizontal antar box */
    margin-bottom: 50px;
} 
.box-text {
    font-family: arial, sans-serif;
    background-color: #fdecc8;
    padding: 50px;
    border-radius: 1px;
    border-left: 7px solid #283618;
    line-height: 1.9;
    font-size: 1.30rem;
    color: #76461b;
    max-width: 1100px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: justify;
}
.box-text::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #ac6f17;
}
@media (max-width: 768px) {
    section {
        padding: 40px 15px;
    }
    section h2 {
        font-size: 1.8rem;
    }
    .box-text {
        padding: 25px;
        font-size: 0.95rem;
        line-height: 1.7;
    }
}
/*card*/
.open {
    width: 500px;
    background-color: #fdecc8;
    border: 3px solid #fdecc8;
    border-radius: 3px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-top: 60px;
    margin-bottom: 50px;
}
.open:hover {
    transform: translateY(-15px);
}
.open img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.open h2 {
    font-family: "playfair display", serif;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
    color: #283618;
    font-size: 1.6rem;
    line-height: 1px;
}
.open p {
    font-family: "playfair display", serif;
    text-align: center;
    padding: 20px 25px;
    font-size: 1.4rem;
    color: #283618;
    line-height: 0.2;
    margin-bottom: 30px;
}

/* ===== Slideshow Suasana Cafe ===== */
section.slideshow h2 {
    font-family: "playfair display", serif;
    font-size: 2.3rem;
    color: #283618;
    margin-top: auto;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 0.9px;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
}
.slider {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1px;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    flex: 0 0 100%;
    width: 100%;
    height: 700px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .slides img {
        height: 250px;
    }
}

/* rekomendasi Menu */
section h2 {
    font-family: "playfair display", serif;
    font-size: 2.3rem;
    letter-spacing: 0.9px;
    color: #283618;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
}
.rekomendasi h2 {
    font-size: 2rem;
    color: #ac6f17;
    margin-bottom: 15px;
}
.menu-populer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    width: 380px;
    background-color: #fff;
    border-radius: 1px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-20px);
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card h3 {
    font-family: "playfair display", serif;
    text-align: center;
    margin-top: 25px;
    color: #ac6f17;
    font-size: 1.4rem;
}
.card p {
    font-family: arial, sans-serif;
    text-align: center;
    padding: 20px 25px;
    font-size: 1.2rem;
    color: #76461b;
    line-height: 1.6;
}

/* Tombol Lihat Menu */
.btn-menu {
    margin-top: 60px;
    text-align: center;
}
.btn-menu button {
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    padding: 15px 35px;
    background-color: #fdecc8;
    color: #ac6f17;
    border-radius: 15px;
    border: 2px solid #fdecc8;
    font-weight: 550;
    letter-spacing: 0.9px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-menu button:hover {
    background-color: #ac6f17;
    border: #ac6f17;
    color: #fdecc8;
    transform: translateY(-3px);
}
/*promo & event*/
.btn-promoevent {
    margin-top: 60px;
    text-align: center;
}
.btn-promoevent button {
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    padding: 15px 35px;
    background-color: #fdecc8;
    color: #ac6f17;
    border-radius: 15px;
    border: 2px solid #fdecc8;
    font-weight: 550;
    letter-spacing: 0.9px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}
.btn-promoevent button:hover {
    background-color: #ac6f17;
    border: #ac6f17;
    color: #fdecc8;
    transform: translateY(-3px);

}
.promo&event img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/* footer */