
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY */
body {
    line-height: 1.6;
    background-color: #76461b;
}
/*HEADER*/
header { 
  position: relative;
  width: 100%;
  min-height: 50vh; /* tinggi header */
  background-image: url('../assets/img/bg-header.png'); 
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
@media (max-width: 768px) {
    header {
        padding: 60px 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

/* navigasi */
.filter {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 40px;
    background-color: #d1b78f;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
}
.filter button {
    padding: 15px 55px;
    border: 2px solid #76461b;
    background-color: #f2e9e1;
    color: #76461b;
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.9px;
}
.filter button:hover {
    background-color: #76461b;
    color: #f2e9e1;

}
@media (max-width: 768px) {
    .filter {
        padding: 30px 15px;
        gap: 10px;
    }
    .filter button {
        padding: 10px 18px;
        font-size: 0.85rem;
    }
}

/* konten home */
section {
    padding: 60px;
}
/* bagian h1 */
section h1 {
    font-family: "playfair display", serif;
    font-size: 2.3rem;
    letter-spacing: 0.9px;
    color: #d1b78f;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
}
section h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(to right, #ad9274, #ac6f17);
    margin: 15px auto 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* text box */
.box-text {
    font-family: arial, sans-serif;
    background: #f2e9e1;
    padding: 60px;
    border-radius: 15px;
    border-left: 5px solid #ac6f17;
    line-height: 1.9;
    font-size: 1.30rem;
    color: #76461b;
    max-width: 1200px;;
    margin: 0 auto;
    text-align: justify;
}
.box-text::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #ac6f17;
}
@media (max-width: 768px) {
    section {
        padding: 40px 15px;
    }
    section h2 {
        font-size: 1.8rem;
    }
    .box-text {
        padding: 25px;
        font-size: 0.95rem;
        line-height: 1.7;
    }
}

/* ===== Slideshow Suasana Cafe ===== */
section.slideshow h2 {
    font-family: "playfair display", serif;
    font-size: 2.3rem;
    color: #d1b78f;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.9px;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
}
section.slideshow h2::after {
    content: '';
    display: block;
    width: 300px;
    height: 4px;
    background: linear-gradient(to right, #ad9274, #ac6f17);
    margin: 15px auto 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
    position: relative;
}
.slider {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    flex: 0 0 100%;
    width: 100%;
    height: 700px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .slides img {
        height: 250px;
    }
}

/* rekomendasi Menu */
section h2 {
    font-family: "playfair display", serif;
    font-size: 2.3rem;
    letter-spacing: 0.9px;
    color: #d1b78f;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
}
section h2::after {
    content: '';
    display: block;
    width: 180px;
    height: 4px;
    background: linear-gradient(to right, #ad9274, #ac6f17);
    margin: 15px auto 0;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
.rekomendasi h2 {
    font-size: 2rem;
    color: #ac6f17;
    margin-bottom: 15px;
}
.menu-populer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    width: 380px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-8px);
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card h3 {
    font-family: "georgia", serif;
    text-align: center;
    margin-top: 25px;
    color: #ac6f17;
    font-size: 1.3rem;
}
.card p {
    font-family: "arial", serif;
    text-align: center;
    padding: 20px 25px;
    font-size: 1.2rem;
    color: #76461b;
    line-height: 1.6;
}

/* Tombol Lihat Menu */
.btn-menu {
    margin-top: 80px;
    text-align: center;
}
.btn-menu button {
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    padding: 15px 35px;
    background-color: #f2e9e1;
    color: #ac6f17;
    border-radius: 15px;
    border: 2px solid #76461b;
    font-weight: 550;
    letter-spacing: 0.9px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-menu button:hover {
    background-color: #76461b;
    color: #f2e9e1;
    transform: translateY(-3px);
}
