
/* hal" yang ada disemua halaman html font, warna utama,navbar,footer,
layout dasar(container, section) ini semua masuk ke main.css */

/* dasar */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*font dan warna global */
body{
    font-family:'Poppins',sans-serif;
    background: color #d9800c;
    color:#3e2c1c;
    line-height: 1.6;
}

/*text dasar*/
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/*Container/wrapper umum*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*navbar*/
.navbar {
    background-color: #5c3d2e;
    padding: 20px 0;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color:#fff;
    margin-left: 20px;
    font-weight: 500;
}

/* section umum*/
section {
    padding: 60px 0;
}

/*button*/
.btn {
    padding: 10px 20px;
    background-color: #5c3d2e;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #3e2c1c;
}

/* footer*/
footer {
    background-color: #322c1e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
    }
    .navbar a {
        margin: 10px 0;
    }
}