
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY */
body {
    line-height: 1.6;
    background-color: #fdecc8;
}
/*HEADER*/
header { 
  position: relative;
  width: 100%;
  height: 550px; /* tinggi header */
  background-image: url('../assets/img/bg-headerfix.png'); 
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    height: 300px;          /* lebih pendek di HP */
    background-size: contain; /* biar gambar tidak kepotong */
    background-repeat: no-repeat;
    background-position: center;

  }
}

/* navigasi */
.filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: #ad9274;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 100px;
    height: auto;
    overflow-x: auto;
}
.filter button {
    padding: 15px 60px;
    border: 2px solid #f2e9e1;
    background-color: #f2e9e1;
    color: #76461b;
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.9px;
}
.filter button:hover {
    background-color: #ad9274;
    color: #f2e9e1;
    border:  #f2e9e1;
}
@media (max-width: 768px) {
    .filter {
        padding: 30px 15px;
        gap: 10px;
    }
    .filter button {
        padding: 10px 18px;
        font-size: 0.85rem;
    }
}

.footer-note {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  color: #f2e9e1;
  background: #ad9274; 
  padding: 12px;
  text-align: center;
  
} 

@media (max-width: 768px) {
  .footer-note {
    font-size: 12px;         /* lebih kecil agar muat di layar HP */
    padding: 10px 8px;       /* padding disesuaikan */
    text-align: center;      /* biar rapi di tengah */
  }
}

@media (max-width: 480px) {
  .footer-note {
    font-size: 11px;
    padding: 8px 6px;
  }
}