body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #76461b;
}

.header-content {
  background: #d1b78f; /* warna cream header */
  padding: 50px;
  text-align: center;
  font-size: 20px;
  color: #4b2e1e;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 110%;
  height: 70px;
}

.promo-event {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.img-container {
  width: 360px;
  height: 480px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.img-container img {
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
 cursor: pointer;
}

.img-container:hover img {
  transform: scale(1.02);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  animation: zoom 0.5s;
}

@keyframes zoom {
  from {transform: none;}
  to {transform: none;}
}

#caption {
  text-align: center;
  color: #ccc;
  margin-top: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}





