body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #76461b;
}

.header-content {
  background: #d1b78f; 
  padding: 20px;
  font-size: 20px;
  color: #4b2e1e;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: calc(100% - 40px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* bagian promo & event */
.promo-title{
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.promo-event {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 40px 20px; 
  border-radius: 12px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.img-container {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
  padding: 16px;
}

.img-container img {
 width: 100%;
 height: auto;
 display: block;
 border-radius: 8px;
}

.img-container:hover {
  transform: scale(1.03);
}

/* Style Modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  animation: zoom 0.5s;
}

@keyframes zoom {
  from {transform: none;}
  to {transform: none;}
}

#caption {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}


/* untuk responisve desain di layar kecil */
@media (max-width: 768px) {

  .promo-event {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .modal-content {
    max-width: 90vw;
    max-height: 70vh;
  }

  #close {
    font-size: 50px;
    top: 15px;
    right: 20px;
  }

  #caption {
    font-size: 14px;
    margin-top: 15px;
  }

  .promo-event {
    grid-template-columns: 1fr;
  }

  .img-container {
    width: 120px;
    height: 200px;
    padding: 10px;
  }

  .promo-title {
    font-size: 24px;
  }

  .header-content {
    padding: 15px;
    height: auto;
  }
}